<!DOCTYPE html>
<html>
    <head>
        <title>Lab 7 Users</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Users!</h1>
        <div>
        <table>
            <!-- Column Names -->
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Password</th>
            </tr>
            <!-- Python code to display DB information -->
            {% for user in users %}
                {% for user_attribs in user %}
                    <tr>
                        <td>{{ user_attribs.UserID }}</td>
                        <td>{{ user_attribs.FirstName }}</td>
                        <td>{{ user_attribs.LastName }}</td>
                        <td>{{ user_attribs.Email }}</td>
                        <td>{{ user_attribs.PhoneNumber }}</td>
                        <td>{{ user_attribs.Password }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </div>

        <!-- Return to home page -->
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>

    </body>
</html>
