<!DOCTYPE html>
<html>
    <head>
        <title>Lab 7</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Welcome to Lab 6!</h1>
        <div id="index">
            <a href="/signup">
                <button type="button">Sign up!</button>
            </a>

            <a href="/login">
                <button type="button">Log In!</button>
            </a>

            <a href="/users">
                <button type="button">Users!</button>
            </a>
        </div>
    </body>
</html>
